@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}
.colorp, .page-footer{
    /*#80deea cyan lighten-3;*/
}
.nave{
    font-size: 30px;
}

.body{
    background: url(imgindex/g1.jpg) no-repeat center top;
    background-image: url(imgindex/g1.jpg);
    background-size: cover;
}
.imagen{
background-image: url(imgindex/g1.jpg);
background-repeat: no-repeat;
background-size: cover;
}
.card {
    background-image: url(imgindex/g1.jpg);
}
.sesion{
    background-image: url(imgindex/g1.jpg);
    background-size: cover;
}
.login{
    margin-top: 100px;
}
.login .card{
    background: rgba(0, 0, 0, .6);
}
.login label{
    font-size:16px;
    color: #ccc;
}
.login input{
    font-size: 22px !important;
}
.login button:hover{
    padding: 0px 40px;
}

#logo{
    margin-top: 40px;
    margin-left: 20px;
    /*margin-bottom: 50px;*/
}

h1{
    color: #444;
}


.side-nav li>a {
  padding: 0 16px;
}

.side-nav .divider {
  margin:0;
  height:8px;
  border-bottom:1px solid #e0e0e0;
  background-color: transparent;
}

.sidenav-header {
background: url("../images/user-bg.jpg") no-repeat center center;
background-size: cover;
margin-bottom: 0px;
padding: 15px 0 0 15px;
  .row {
    margin-bottom: 0;
  }
}
.sidenav-footer {
margin-bottom: 0px;
padding: 0;
  .row {
    margin-bottom: 0;
    .social-icons {
      a {
        opacity: 0.5;
        padding: 0;
        text-align:center;
        &:hover {
          background-color:inherit;
          opacity: 1;
        }
      }
    }
  }
}

.btn{
    margin-left: 32%
}

.login-row{
    margin-left: 10%;
    margin-right: auto;
   
    width: 500px;
  
    
}

/*proyectos*/
.container {
    width: 77%;
    margin-left: 23%;
}
