<head>
    <script src="./js/init.js"></script>
</head>
<div class="row">
    <div class="col s3">
        <div class="row">
            <div class="col s12 ">
                <div class="card-panel teal #757575 grey darken-1">
                    <span class="white-text">
                        <h5>MISION</h5>
                        <p ALIGN="justify">Ser el mejor proveedor de servicio fotografico del mundo. 
                            Para lograrlo, hemos establecido una cultura que apoya a los nuevos y 
                            jovenes talentos en fotografia, acercandolos a grandes empresas ofreciendo
                            un excelente servicio.</p>
                    </span>
                </div>
            </div>
            <div class="col s12 ">
                <div class="card-panel teal #757575 grey darken-1">
                    <span class="white-text">
                        <h5>VISION</h5>
                        <p ALIGN="justify">Nuestra visión es ofrecer una herramienta tecnología innovadora 
                            que es accesible a todo el mundo y que se adapta a las 
                            necesidades de cada persona.
                            El servicio ofrecido elimina las barreras para las personas 
                            que desean un ingreso economico con pasiones desarrolladas y a la
                            vez aprovechar al máximo sus capacidades.</p>
                    </span>
                </div>
            </div>
            <div class="col s12 ">
                <div class="card-panel teal #757575 grey darken-1">
                    <span class="white-text">
                        <h5>OBJETIVOS</h5>
                        <p ALIGN="justify">
                            Ofrecer un servicio de calidad,acercar a fotografo y
                            empresario de manera segura, dar a conocer el talento colombiano en el arte de la fotografia.<br>
                        </p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="col s9 center">
        <img id="logo" src="imgindex/logo.png" align="left">
        <h2 class="all-titles" align="center">Diseños UPTC</h2>
        <br>
        <h5>
            <p>Esta agencia fotográfica nace con el objetivo fundamental
               de proveer a todos los empresarios, de manera rápida, 
               eficaz, seria, original y creativa, con fotografias 
               para el desarrollo de los diversos productos que llevan 
               a cabo; ofreciendo una buena relación calidad- precio y 
               poniendo a disposición de todos los clientes una amplia
               variedad de fotografos con los cuales pueden contactarse.
               Y para aquello amantes a la fotografia un espacio para 
               exponer sus trabajos y obtener reconocimiento en importantes
               empresas. 
        </p>
    </h5>
    <br>
    <div class="carousel carousel-slider">
        <a class="carousel-item" href="#one!"><img src="imgindex/g1.jpg"></a>
        <a class="carousel-item" href="#two!"><img src="imgindex/g2.jpg"></a>
        <a class="carousel-item" href="#three!"><img src="imgindex/g3.jpg"></a>
        <a class="carousel-item" href="#four!"><img src="imgindex/g4.jpg"></a>
        <a class="carousel-item" href="#five!"><img src="imgindex/g5.jpg"></a>
        <a class="carousel-item" href="#six!"><img src="imgindex/g6.jpg"></a>
        <a class="carousel-item" href="#seven!"><img src="imgindex/g7.jpg"></a>
        <a class="carousel-item" href="#eigth!"><img src="imgindex/g8.jpg"></a>
    </div>
</div>
</div>