<!DOCTYPE html>
<link rel="stylesheet" href="css/listProjectsStyle.css">
<div class="white-text" style=" background-image: url(imgindex/header.jpg); background-repeat: no-repeat;background-size: cover;">
    <br>
    <h3 class="center-align">{{company.nameCompany}}</h3>
    <h4 class="center-align">Proyectos</h4>
    <br>
    <br>
</div>
<br>
<div class = "containerProjects" >
    <div id = "main" >
        <div class="row" >
            <div class="col col1 s1 m4" ng-repeat="proyect in company.listProyects">
                <div class="card sticky-action">    
                    <div class="card-image">
                        <img src="{{proyect.listPhotos[0].path}}">
                        <span class="card-title">{{proyect.name}}</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light red btn modal-trigger" data-target="modal1" ng-click="verListFotografias(proyect.id)"><i class="material-icons">add</i></a>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action center-align">
                        <a class= "modal-trigger" href="" data-target="modalSubirF" ng-click="subirFotografias(proyect.id)">Subir Fotografia</a>
                    </div>
                </div>
            </div>

        </div>

</div>

<!-- Modal ver fotografias Structure -->
<div id="modal1" class="modal modal-fixed-footer">

    <div class="modal-content">
        <h5 >Fotografias del proyecto de {{company.nameCompany}}</h5>
        <!--Tarjeta para fotografias-->
        <div class="row">
            <div class="col col1 s5 m4" ng-repeat="photo in photosToShow">
                <div  class="card">
                    <div class="card card-image">
                        <img src="{{photo.path}}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer ">
        <ul class="pagination center-align">
            <!--https://www.genbeta.com/desarrollo/angular-ng-repeat-y-sus-opciones-->
            <li class="waves-effect"><a href="" ng-click="setBackPage()" ng-if="pageNumber !== 1"><i class="material-icons">chevron_left</i></a></li>
            <li class="waves-effect" ng-repeat="page in pages"><a href="" ng-click="setPage($index + 1)">{{$index + 1}}</a></li>
            <li class="waves-effect"><a href="" ng-click="setNextPage()" ng-if="pageNumber !== pages.length"><i class="material-icons">chevron_right</i></a></li>
        </ul>
        <!--<a href="" class="modal-close waves-effect waves-green btn-flat red white-text">Cerrar</a>-->
    </div>
</div>

<!--modal subir fotografias-->
<div id="modalSubirF" class="modal">
    <div class="modal-content">
        <h4>Subir Fotografia</h4>

        <div class="row">
            <div class="col s6">
                <div class=" file-field input-field ">
                    <div class="row">
                        <div class="btn left-align blue lighten-2"><i class="material-icons right">add_a_photo</i>
                            <span>Cargar Imagen</span>
                            <input id="inputFileServer" type="file" multiple>
                        </div>
                    </div>
                    <div class="row">
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Cargue uno o mas archivos">
                        </div>
                    </div>
                </div>
                
                <br>

                <div class="form-field center-align">
                </div>
            </div>
            <div class="col s6">
                <p>Ingrese sus datos</p>
                <div class="card-content">
                    <div class="form-field">
                        <i class="material-icons prefix">account_circle</i>
                        <label for="names">Nombres</label>
                        <input type="text" id="names" ng-model="photographer.name">
                        <br>
                        <i class="material-icons prefix">account_circle</i>
                        <label for="lastName">Apellidos</label>
                        <input type="text" id="lastName" ng-model="photographer.lastName">
                        <br>
                        <i class="material-icons prefix">email</i>
                        <label for="email">Email</label>
                        <input type="email" id="email" ng-model="photographer.emailP">
                        <br>
                        <i class="material-icons prefix">attach_money</i>
                        <label for="number">Precio</label>
                        <input type="number" id="price" ng-model="newPhoto.requestValue">
                    </div>
                    <br>

                    <button class="btn modal-close waves-effect blue lighten-2" type="submit" name="action" ng-click="sendPhoto()">Enviar
                        <i class="material-icons right">submit</i>
                </div>
            </div>

        </div>
    </div>
</div>

