<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>UPTC Fotos</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="css/materialize-social.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

        <!--Importacion de angular-->
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
        <script src="//code.angularjs.org/1.2.19/i18n/angular-locale_es-es.js"></script>

        <script src="js/materialize.js"></script>
        <script src="js/init.js"></script>

        <!--Para las rutas-->
        <script src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-route.min.js'></script>
        <script src="js/RouteProvider.js"></script>
        <script src="js/CompaniesController.js"></script>
        <script src="js/IndexController.js"></script>
        <script src="js/LoginController.js"></script>
        <script src="js/ProyectsController.js"></script>
        <script src="js/RegisterController.js"></script>
        <!--http://cursoangularjs.es/doku.php?id=unidades:07_rutas:02_routeprovider-->
        
    </head>

    <body ng-controller="ctrlIndex">
        <nav>
            <div class="nav-wrapper #80deea cyan lighten-3">
                <a href="#" class="brand-logo"></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down" ng-repeat="option in options">
                    <li><a href="{{option.path}}" ng-if="!option.close">{{option.text}}</a></li>
                    <!--<li ng-if="option.close"><a  ng-click="logout()"><i class="material-icons left">arrow_drop_down</i><a  ng-click="logout()">Cerrarsesion</a>-->
                    <li ng-if="option.close"><a  ng-click="logout()"><a  ng-click="logout()">X</a>
                </ul>
            </div>
        </nav>

        <div ng-view></div>

    </body>

    <footer class="page-footer #80deea cyan lighten-3">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Diseños UPTC</h5>
                    <p class="grey-text text-lighten-4">Karol Alfonso, Mary Boyacá, Fredy Gamba, John Jiménez</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Redes Sociales</h5>
                    <a class="waves-effect waves-light btn-floating social google">
                        <i class="fa fa-google"></i> Sign in with google</a>
                    <a class="waves-effect waves-light btn-floating social facebook">
                        <i class="fa fa-facebook"></i></a>
                    <a class="waves-effect waves-light btn-floating social twitter">
                        <i class="fa fa-twitter"></i> Sign in with twitter</a>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2019 UPTC
                <a class="grey-text text-lighten-4 right" href="#!">VISITANOS</a>
            </div>
        </div>
    </footer>

</html>