<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <title>Login</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="css/materialize-social.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.1/angular.min.js"></script>
        <script src="js/IndexJS.js"></script>
    </head>
    <body ng-controller="ctrlIndex">
        <!--Navbar goes here--> 
        <nav>
            <div class="nav-wrapper #80deea cyan lighten-3">
                <a href="#" class="brand-logo">
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="registro.html">Registrarse</a></li>
                    </ul>
            </div>
        </nav>

        <div class="parallax-container">
            <div class="parallax"><img src="imgindex/empr.jpg"></div>
        </div>
        <div class="row">
            <div class="col s3 imagen">

            </div>

            <div class="col s9 ">
                <!--Grey navigation panel--> 
                <div class="login row ">
                    <div class=" col s9 14 offset-14 imagen">
                        <div class="card">
                            <div class=" card-action #80deea cyan lighten-3">
                                <h5>Iniciar Sesion</h5>
                            </div>
                            <div class="card-content">
                                <div class="form-field">
                                    <label for="username">Usuario</label>
                                    <input type="text" id="username" ng-model="company.emailCompany">
                                </div><br>
                                <div class="form-field">
                                    <label for="password">Contraseña</label>
                                    <input type="password" id="password" ng-model="company.password">
                                </div><br>
                                <div class=" form-field">
                                    <label for="remember">Recordarme</label>
                                    <input type="checkbox" id="remember">
                                </div><br>
                                <div class="form-field center-align">
                                    <button class="btn-large #80deea cyan lighten-3" ng-click="login()"> Ingresar </button>
                                </div><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!--Scripts-->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="js/materialize.js"></script>
        <script src="js/init.js"></script>
    </body>
    <footer class="page-footer #80deea cyan lighten-3">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Diseños UPTC</h5>
                    <p class="grey-text text-lighten-4">Karol Tatiana Alfonso</p>
                    <p class="grey-text text-lighten-4">Mary Yuliana Boyacá</p>
                    <p class="grey-text text-lighten-4">Fredy Alejandro Gamba</p>
                    <p class="grey-text text-lighten-4">John Elkin Jiménez</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Redes Sociales</h5>
                    <a class="waves-effect waves-light btn-floating social google">
                        <i class="fa fa-google"></i> Sign in with google</a>
                    <a class="waves-effect waves-light btn-floating social facebook">
                        <i class="fa fa-facebook"></i> Sign in with facebook</a>
                    <a class="waves-effect waves-light btn-floating social twitter">
                        <i class="fa fa-twitter"></i> Sign in with twitter</a>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2019 UPTC
                <a class="grey-text text-lighten-4 right" href="#!">VISITANOS</a>
            </div>
        </div>
    </footer>
</html>
